<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mahiru.lease.web.admin.mapper.LabelInfoMapper">

    <select id="selectApartmentlabelInfoListByApartmentId"
            resultType="com.mahiru.lease.model.entity.LabelInfo">
        SELECT li.id,
               li.type,
               li.name
        FROM label_info li
                 JOIN apartment_label al ON li.id = al.label_id
        WHERE li.is_deleted = 0
          AND al.is_deleted = 0
          AND al.apartment_id = #{id}
    </select>
</mapper>
